* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 100vw;
    min-height: 100vh;

    overflow: hidden;
    scrollbar-width: none;
    touch-action: none;

    background: #f8f8f8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 450px;
    height: 200px;

    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;

    background: white;
}

.text {
    font-family: 'Courier New', sans-serif;
    font-size: 4.5rem;
    text-align: center;

    padding-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttons button {
    font-family: 'Consolas', sans-serif;
    /* font-weight: bold; */
    font-size: 1.5rem;
    cursor: pointer;

    padding: 10px 20px;
    border: none;
    border-radius: 10px;

    color: white;
    background: turquoise;
}

.buttons button:hover {
    transform: scale(1.1);
    background: darkturquoise;
}

::-webkit-scrollbar {
    display: none;
}